{% extends 'base.html.twig' %}

    {% block title %}About{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    {% endblock %}


{% block body %}
    <h1 class="ml-2">About</h1>

    <p>However <strong>Revolting Senses</strong> presents some of the more engaged reflections on the aesthetics of revolt of Joachim Ben Yakoub, it suggests to approach authorship as a deeply relational and subjective undertaking that is best presented in a poetic, intimate and cyclical way. When looking at written texts as part of a <strong>confluent conversation</strong>, words and ideas can be shared and travel around, speaking nearby different subjectivities experiencing different conditions of enunciation in the current challenging times of planetary entaglements, accelerated extractivism and unfortunately still present colonial power relations.
    </p>
    <br/>
    <p>Joachim Ben Yakoub is master in social pedagogy and doctor in political science. His interests are situated on the intersection of aesthetic theory and various postcolonial critiques, from where he investigates movements of revolt in Tunis, Brussels and beyond. He is currently affiliated to the ‘Middle East and North Africa Research Group’ (MENARG) and the ‹Studies in Performing Arts & Media› research group (S:PAM) of the University of Ghent and is a lecturer at the Sint-Lucas School of Arts, in Antwerp.
    </p>


{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
